#checkpoints
.ipynb_checkpoints/

#raw image data (https://s3.amazonaws.com/content.udacity-data.com/nd089/flower_data.tar.gz)
4_Projects/p2_imageclass/flower_data/
4_Projects/p2_imageclass/flower_data_small_set/


#mac files
.DS_Store

#
*.pth
4_Projects/p2_imageclass/*.pth
4_Projects/p2_imageclass/checkpoint_vgg16_flowers_small_dataset_model.pth
4_Projects/p2_imageclass/__pycache__/

#backup unfinished file or some temp stuff
4_Projects/p2_imageclass/Image Classifier Project_old_backup.ipynb
4_Projects/p2_imageclass/Untitled.ipynb
4_Projects/p2_imageclass/utils.pyc 


#ignore ready azdias project for customer segmentation
4_Projects/p3_client_segments/Identify_customer_segments.zip
4_Projects/p3_client_segments/Identify_Customer_Segments v2.zip
